body{
  margin:0;
}

.header{
  display: flex;
  justify-content: flex-end;
}

.header span{
  padding: 15px;
}

.sign-in-btn{
  background-color: #4285f4;
  border: none;
  border-radius: 4px;
  margin: 10px;
  padding: 8px;
  color: white;
  font-style: bold;
}

.container{
  margin:0 auto;
  max-width: 50%;
  text-align: center;
}

.google-img{
  margin-top:200px;
}

.search-box{
  border: solid 1px silver;
  border-radius: 50px;
  max-width: 50%;
  margin: 10px auto;
  padding: 10px;
}

.search-input{
  border: 0;
  min-width: 400px;
}

.buttons{
  display: flex;
  justify-content: space-around;
  max-width: 30%;
  margin:10px auto;
}

.buttons button{
  border-radius: 4px;
  border:none;
  padding: 10px;
}

.container span{
  color: blue;
}

.footer{
  background-color: silver;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer div{
  padding: 10px;
  border-bottom: solid 0.2px gray;
}

.footer div span{
  margin: 0px 10px;
}
